<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>{{ object_list }}</p>
<p> {{ product_list }} </p>
<p> {{ paginator }} </p>
<p> {{ page_obj }} </p>
<p> {{ is_paginated }} </p>
<p>{{ page_obj.start_index }}</p>
<p>{{ page_obj.end_index }}</p>

{% for product in product_list %}
    <p><a href=".">{{ product.name }}</a> <a href="{% url "product-delete" product.pk%}">DELETE</a></p>
{% empty %}
    <p>No products in queryset</p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<form action=".">
    <input type="number" name="page" id="page">
    <input type="submit">
</form>

</body>
</html>